@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body {
    background: #292929;
}

.header {
    background: #1F1F1F;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

    .header > img {
        height: 32px;
    }

    .header > p {
        background: -webkit-linear-gradient(#D375FF, #798FFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin: auto;
    }

.content {
    display: grid;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

    .content > h2 {
        height: 24px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #E3E3E3;
    }

.card {
    min-height: 154px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #1F1F1F;
    border: 1px solid #444746;
    border-radius: 12px;
}

.card-top {
    min-height: 96px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #1F1F1F;
    border-left: 1px solid #444746;
    border-right: 1px solid #444746;
    border-top: 1px solid #444746;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-middle {
    min-height: 96px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #1F1F1F;
    border-left: 1px solid #444746;
    border-right: 1px solid #444746;
    border-top: 1px solid #444746;
}

.card-bottom {
    min-height: 96px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #1F1F1F;
    border: 1px solid #444746;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card-top-content {
    padding: 16px;
    display: flex;
    flex-direction: row;
}

    .card-top-content > img {
        height: 48px;
        width: 48px;
    }

.card-bottom-content {
    margin-top: auto;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 16px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
}

    .info > h1 {
        font-weight: 400;
        font-size: 22px;
        color: #E3E3E3;
    }

    .info > h2 {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #8E918F;
        bottom: 0;
        margin-bottom: 2px;
    }

.status {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
}

.status-icon-on {
    margin-left: 4px;
    height: 12px;
    width: 12px;
    background-color: #6DD58C;
    border: none;
    border-radius: 12px;
}

.status-icon-off {
    margin-left: 4px;
    height: 12px;
    width: 12px;
    background-color: #DA0000;
    border: none;
    border-radius: 12px;
}

.state {
    margin-top: auto;
    min-width: 164px;
}

.state-value {
    margin-top: auto;
    color: #C4C7C5;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.state > p {
    color: #C4C7C5;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.card-bottom-content > img {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 0;
}
